<link rel="stylesheet" href="/css/header.css">
<header>
    <section>
        <ul>
            <li><a href="/employee/add_student_toInterview"><img src="https://cdn-icons-png.flaticon.com/512/4202/4202259.png">Add Student</a></li>
            <li><a href="/employee/add_interview"><img src="https://cdn-icons-png.flaticon.com/512/2014/2014701.png">Add Interview</a></li>
            <li><a href="/placement/download_csv"><img src="https://cdn-icons-png.flaticon.com/128/7268/7268609.png">Download Data</a></li>
            <li><a href="/employee/logout"><img src="https://cdn-icons-png.flaticon.com/512/9208/9208320.png">Sign Out</a></li>
        </ul>
    </section>
</header>